<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>Metric</string>
		<key>speedFormat</key>
		<string>%.01f km/h</string>
		<key>distFormat</key>
		<string>%.02f km</string>
		<key>distFactor</key>
		<real>0.001</real>
		<key>speedFactor</key>
		<real>3.6</real>
	</dict>
	<dict>
		<key>description</key>
		<string>Nautical</string>
		<key>speedFormat</key>
		<string>%.01f kn</string>
		<key>distFormat</key>
		<string>%.02f M</string>
		<key>distFactor</key>
		<real>0.000539956803</real>
		<key>speedFactor</key>
		<real>1.94384449</real>
	</dict>
	<dict>
		<key>description</key>
		<string>Statute</string>
		<key>speedFormat</key>
		<string>%.01f mph</string>
		<key>distFormat</key>
		<string>%.02f mi</string>
		<key>distFactor</key>
		<real>0.000621371192</real>
		<key>speedFactor</key>
		<real>2.23693629</real>
	</dict>
</array>
</plist>
