<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>GPS Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Required Precision</string>
			<key>Key</key>
			<string>gps_minprec</string>
			<key>DefaultValue</key>
			<string>75</string>
			<key>Titles</key>
			<array>
				<string>10 meters</string>
				<string>25 meters</string>
				<string>50 meters</string>
				<string>75 meters</string>
				<string>100 meters</string>
				<string>200 meters</string>
				<string>It&apos;s all good</string>
			</array>
			<key>Values</key>
			<array>
				<string>10</string>
				<string>25</string>
				<string>50</string>
				<string>75</string>
				<string>100</string>
				<string>200</string>
				<string>5000</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Recording Interval</string>
			<key>Key</key>
			<string>average_interval</string>
			<key>DefaultValue</key>
			<string>10</string>
			<key>Titles</key>
			<array>
				<string>1 second</string>
				<string>5 seconds</string>
				<string>10 seconds</string>
				<string>30 seconds</string>
				<string>1 minute</string>
				<string>5 minutes</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>5</string>
				<string>10</string>
				<string>30</string>
				<string>60</string>
				<string>300</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Display Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Units</string>
			<key>Key</key>
			<string>units</string>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Titles</key>
			<array>
				<string>Metric</string>
				<string>Nautical</string>
				<string>Statute</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Estimate Time For</string>
			<key>Key</key>
			<string>estimate_distance</string>
			<key>DefaultValue</key>
			<string>10</string>
			<key>Titles</key>
			<array>
				<string>1 km</string>
				<string>10 km</string>
				<string>100 km</string>
				<string>1 M</string>
				<string>10 M</string>
				<string>100 M</string>
			</array>
			<key>Values</key>
			<array>
				<string>1</string>
				<string>10</string>
				<string>100</string>
				<string>1.852</string>
				<string>18.52</string>
				<string>185.2</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Proximity Sensor</string>
			<key>Key</key>
			<string>enable_proximity</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable Idle Timer</string>
			<key>Key</key>
			<string>disable_idle</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
